// サイトで使用する色を定義
// $white: #fff;
// $black: #000;
// $cl-black: #333;
// $bg-dark: #4a4a4a;
// $bg-middle: #a98c5f;
// $bg-light: #fafafa;
// $cl-border: #808080;
// $bg-gray-l: #6f6f6f;

// サイトで使用する色を定義
$white: #fff;
$black: #000;
$cl-black: #333;

// $bg-dark: #4a4a4a;
$bg-dark: #2f2f2f;

// $bg-middle: #a98c5f;
$bg-middle: #8b7048;

// $bg-light: #fafafa;
$bg-light: #f0f0f0;

// $cl-border: #808080;
$cl-border: #666666;

// $bg-gray-l: #6f6f6f;
$bg-gray-l: #595959;
