@use "../../../scss/functions/variables" as *;
@use "../../../scss/functions/mixin" as *;
@use "../../../scss/functions/reset" as *;
@use "../../../scss/functions/base" as *;

.feature-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 24px;
  width: 100%;
  margin: 0 auto;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px;
  border: 2px solid $color-bg-green;
  border-radius: 16px;
  width: fit-content;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: 4px;
  }

  &__icon {
    width: 100px;
    height: 94px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    min-width: 0;
  }

  &__badge-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -12px;
  }

  &__badge {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 6px 4px;
    background-color: $color-bg-green;
    position: relative;
  }

  &__badge-text {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1em;
    text-align: left;
    color: $color-white;
    z-index: 1;

    &--weight-700 {
      font-weight: 700;
    }
  }

  &__badge-triangle {
    width: 20px;
    height: 20px;
    background-color: $color-bg-green;
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
    flex-shrink: 0;
    margin-top: -12px;
    z-index: 0;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 1.2em;
    text-align: left;
    color: $color-bg-green;
    margin: 0;
    width: 198px;
  }

  &__description {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-align: left;
    color: $color-bg-green;
    margin: 0;
    width: 300px;

    &--weight-500 {
      font-weight: 500;
    }
  }
}
