<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- フォントを読み込む -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;500;600;700&family=Instrument+Sans:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- CSSを読み込む -->
    <link rel="stylesheet" href="../css/contact2-3.css" />
    <title>個人情報保護方針コンポーネント</title>
  </head>
  <body>
    <div class="contact2-3">
      <div class="contact2-3__text">
        〇個人情報保護方針 (プライバシーポリシー)
        <br />
        〇〇(以下、当社)では、お客様からご提供いただく個人情報の保護のため、
        <br />
        下記の個人情報保護方針に基づき取り扱っております。
        <br />
        <br />
        ■個人情報の管理
        <br />
        当社は、お客様の個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改
      </div>
    </div>
  </body>
</html>
