@use "../../../scss/functions/variables" as *;
@use "../../../scss/functions/mixin" as *;
@use "../../../scss/functions/reset" as *;
@use "../../../scss/functions/base" as *;

.phone-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 8px;
  padding: 12px 0;
  background-color: $color-phone-bg;
  border: 4px solid $color-border-white;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  &__icon {
    width: 25px;
    height: 25px;
    border-radius: 56px;
    flex-shrink: 0;
  }

  &__label {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 0.9em;
    text-align: left;
    color: $color-white;
  }

  &__time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 0 2px;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 0.8181818181818182em;
    text-align: left;
    color: $color-white;
  }

  &__number {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1em;
    text-align: left;
    color: $color-white;
  }
}
