@use "../../../scss/functions/variables" as *;
@use "../../../scss/functions/mixin" as *;
@use "../../../scss/functions/reset" as *;
@use "../../../scss/functions/base" as *;

.price-badges {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.price-badges__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  gap: 4px;
}

.price-badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px 8px 2px;
  width: 72px;
  background-color: $color-bg-main;
  border-radius: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2em;
  text-align: left;
  color: $color-gray;
}
