@use "../../../scss/functions/variables" as *;
@use "../../../scss/functions/mixin" as *;
@use "../../../scss/functions/reset" as *;
@use "../../../scss/functions/base" as *;

.email-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 10px;
  padding: 12px 0;
  height: 89px;
  background-color: $color-email-bg;
  border: 4px solid $color-border-white;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  &__icon {
    width: 23px;
    height: 18px;
    flex-shrink: 0;
  }

  &__label-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 4px 0 0;
  }

  &__label {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 0.9em;
    text-align: left;
    color: $color-white;
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 0.9em;
    text-align: left;
    color: $color-white;
  }
}
