@use "../../../scss/functions/variables" as *;
@use "../../../scss/functions/mixin" as *;
@use "../../../scss/functions/reset" as *;
@use "../../../scss/functions/base" as *;

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 48px 24px 24px;
  width: 333px;
  background-color: $color-bg-main;
  border-radius: 8px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 300px;
  }

  &__urgent-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1em;
    text-align: left;
    color: $color-bg-green;
    margin: 0;
  }
}
