// 色定義
$color-gray: #2f4858;
$color-white: #fdfdfd;
$color-bg-main: #f9fbeb;
$color-orange: #fe7a22;
$color-text-green: #197647;
$color-bg-green: #3baf75;
$color-phone-bg: #4eb960;
$color-border-white: #fcfcfc;
$color-icon-gray: #d9d9d9;
$color-email-bg: #e78d3e;
$color-card-bg: #f5e482;
$color-discount: #ff6c57;
