@use "./variables.scss" as *;
@use "./mixins.scss" as *;

.slogan {
}

.slogan__inner {
}

.slogan__container {
  @include mq(pc) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 80px;
  }

  @include mq(tb) {
    gap: 20px;
  }
}

.slogan-img {
  @include mq(pc) {
    width: 100%;
    max-width: 600px;
  }
  img {
    width: 345px;

    @include mq(pc) {
      width: 100%;
    }
  }
}

.slogan-text {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  @include mq(pc) {
    max-width: 520px;
    margin-top: 0;
    gap: 36px;
    justify-content: center;
  }
  @include mq(tb) {
    width: 60%;
  }
}

.slogan-text-title {
  font-size: 20px;
  font-weight: 600;
  @include mq(pc) {
    font-size: 28px;
    font-weight: 600;
  }
}

.slogan-text-description {
  font-size: 14px;
  font-weight: 300;
  @include mq(pc) {
    font-size: 16px;
  }
}
