$color-main: #3ea1d1;
$color-text: #333333;
$color-white: #ffffff;
$color-price: #989898;
$color-news-border: #E0E0E0;
$color-news-text: #888;
$color-copyright: $color-news-text;
$color-must:#e7728e;
$inner-width-pc: calc(1280px - 40px * 2);
$inner-width-sp: calc(375px - 15px * 2);
