@use "../../../scss/functions/variables" as *;
@use "../../../scss/functions/mixin" as *;
@use "../../../scss/functions/reset" as *;
@use "../../../scss/functions/base" as *;

.consultation-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: -12px;
  padding: 0 0 0 8px;
  min-height: 67px;

  &__badge-wrapper {
    width: 113.45px;
    height: 113.45px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__badge-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  &__message {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1em;
    text-align: left;
    color: $color-text-green;
  }
}
