// フォント変数定義
$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #111;
$color-white: #fff;
$background-color-base: #fafafa;
$color-key1: #f5810e;
$color-key2: #fabe00;
$color-gradation: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);

$width-inner: 1140px;

// ブレークポイントのマップ
@use "sass:map";
$breakpoints: (
  sp: "screen and (max-width: 767px)",
  tb: "screen and (min-width: 768px) and (max-width: 1024px)",
  pc: "screen and (min-width: 768px)",
);

// メディアクエリ用のmixin（デフォルトはsp）
@mixin mq($breakpoint: sp) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* ================================
  共通クラス
================================ */

body {
  font-size: $font-size-base;
  line-height: 1.7;
  color: $color-base;
  background-color: $background-color-base;
  font-family: $font-family-ja;
  font-weight: 400;
  padding-top: 70px; // ヘッダー固定分

  @include mq(pc) {
    padding-top: 90px; // ヘッダー固定分
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.hidden-pc {
  @include mq(pc) {
    display: none;
  }
}

.hidden-sp {
  @include mq(sp) {
    display: none;
  }
}

.inline-block {
  display: inline-block;
  font-weight: inherit;
}

.button {
  font-weight: 700;
  letter-spacing: 0.48px;
  display: inline-block;
  background: $color-white;
  display: inline-flex;
  padding: calc(10px - 2px) calc(32px - 2px);
  color: $color-base;
  border: 2px solid currentColor;
  background: $color-white;
  font-size: $font-size-base;
  min-width: 150px;
  border-radius: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  span {
    font-weight: inherit;
  }

  &:hover {
    background-color: $color-key2;
  }

  &--type2 {
    background: $color-base;

    color: $color-white;
    padding: calc(10px - 2px) calc(30px - 2px);
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      color: $color-base;
      background-color: $color-white;
    }
  }
}

.heading {
  text-align: center;
  font-family: $font-family-en;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.heading__en {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 3.8px;
  height: 38px;
  line-height: 100%;
  white-space: nowrap;

  @include mq(pc) {
    font-size: 50px;
    letter-spacing: 5px;
    height: 50px;
  }
}

.heading__ja {
  font-size: 14px;
  letter-spacing: 1.12px;
  line-height: 100%;

  @include mq(pc) {
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}

.inner {
  padding-left: 15px;
  padding-right: 15px;

  @include mq(pc) {
    max-width: calc($width-inner + 30px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

/* ================================
  header　ヘッダー
================================ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: $color-white;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 22px 15px;
  align-items: center;
  @include mq(pc) {
    max-width: calc($width-inner + 15px * 2);
    height: 90px;
  }
}

.header__logo {
  img {
    display: block;
    width: 100px;
    height: 26px;
    @include mq(pc) {
      width: 135px;
      height: 35px;
      flex-shrink: 0;
      margin-top: 4px;
    }
  }
}

.header__nav {
  display: none;
  @include mq(pc) {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

.header__link {
  font-weight: 700;
  letter-spacing: 0.48px;
  transition: color 0.3s;
  &:hover {
    color: $color-key1;
  }
}

.header__button {
  padding: calc(10px - 2px) calc(30px - 2px);
}

.header__open {
  margin-top: 1px;
  @include mq(pc) {
    display: none;
  }
}

.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
  z-index: 51;
  &.is-checked {
    .drawer-icon__bar {
      &:nth-of-type(1) {
        top: 10px;
        transform: rotate(30deg);
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        top: 10px;
        transform: rotate(-30deg);
      }
    }
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #111;
  transition: transform 0.3s linear, top 0.3s linear;
  &:nth-of-type(1) {
  }
  &:nth-of-type(2) {
    top: 9px;
  }
  &:nth-of-type(3) {
    top: 18px;
  }
}

.drawer-content {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #f7ba1a;
  z-index: 50;
  padding: 86px 40px 40px;
  transform: translateX(100%);
  transition: transform 0.3s linear;

  &.is-checked {
    transform: translateX(0);
  }
}

.drawer-content__menu {
}

.drawer-content__link {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: right;
  font-weight: 700;
  letter-spacing: 0.48px;
}

.drawer-content__button {
  margin-top: 14px;
  text-align: right;
}

/* ================================
  メインヴィジュアル mv
================================ */
.mv {
  border-radius: 20px;
  max-width: calc(100% - 15px * 2);
  margin-left: auto;
  margin-right: auto;
  background: $color-gradation;

  @include mq(pc) {
    border-radius: 30px;
    max-width: calc(100% - 30px * 2);
  }
}

.mv__inner {
  padding: 50px 20px 255px;
  position: relative;
  @include mq(sp) {
    text-align: center;
  }
  @include mq(pc) {
    padding-top: 109px;
    margin-bottom: 109px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc(1040px + 30px * 2);
    max-height: 579px;
  }
}

.mv__lead {
  text-align: center;
  .mv__lead1,
  .mv__lead2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2.2px;
    font-feature-settings: "palt" on;
    border-radius: 5px;
    background: $color-white;
    padding: 10px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    @include mq(pc) {
      margin-left: 0;
      margin-right: 0;
      font-size: 38px;
      letter-spacing: 3.8px;
      padding: 12px 16px;
    }
  }
  .mv__lead1 {
    @include mq(pc) {
      padding-right: 13px;
    }
  }

  .mv__lead2 {
    margin-top: 8px;

    @include mq(pc) {
      margin-top: 14px;
      padding-right: 13px;
      padding-bottom: 13px;
    }
  }
}

.mv__description {
  text-align: center;
  letter-spacing: 0.48px;
  font-weight: 700;
  margin-top: 26px;
  @include mq(pc) {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.54px;
    margin-top: 20px;
    line-height: 1.725;
  }
}

.mv__button {
  margin-top: 21px;
  margin-right: auto;
  margin-left: auto;
  @include mq(pc) {
    margin-top: 30px;
    margin-left: 0;
  }
}

.mv__image {
  position: absolute;
  right: 0;
  bottom: -108px;
  width: 100%;
  text-align: center;
  pointer-events: none;

  @include mq(pc) {
    text-align: right;
    bottom: -87px;
    right: 31px;
  }

  img {
    width: 345px;

    @include mq(pc) {
      width: calc(600px / 1100px * 100%);
    }
  }
}

/* ================================
  導入実績 case
================================ */
.case {
  margin-top: 108px;

  @include mq(pc) {
    margin-top: 88px;
    padding-top: 48px;
    padding-bottom: 50px;
  }
}

.case__inner {
  padding-left: 40px;
  padding-right: 40px;

  @include mq(pc) {
    max-width: calc(920px + 40px * 2);
  }
}

.case__title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1; /* 18px */
  letter-spacing: 1.8px;

  @include mq(pc) {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.case__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;
  margin-top: 30px;

  @include mq(pc) {
    margin-top: 54px;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
  }
}

.case__item {
  text-align: center;

  img {
  }
}

/* ================================
  ニュース news
================================ */
.news {
  @include mq(pc) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.news__inner {
}

.news__card {
  padding: 40px 12px;
  border-radius: 20px;
  background: $color-white;
  box-shadow: 0 9px 30px 0 #f4f4f4;
  display: flex;
  flex-direction: column;
  @include mq(pc) {
    border-radius: 30px;
    padding-left: calc(105px / 1140px * 100% - 3px);
    padding-right: calc(105px / 1140px * 100%);
    padding-bottom: 32px;
    max-width: $width-inner;
    margin-right: auto;
    margin-left: auto;
  }
}

.news__title {
  font-family: $font-family-en;
  font-size: 38px;
  font-weight: 700;
  line-height: 1; /* 38px */
  letter-spacing: 3.8px;
  text-align: center;
  margin-bottom: 28px;

  @include mq(pc) {
    font-size: 50px;
    letter-spacing: 5px;
    text-align-last: left;
  }
}

.news__lists {
  color: #333;
  gap: 14px;
}

.news__list {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-shrink: 0;
  line-height: 1.8;

  @include mq(pc) {
    flex-direction: row;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: center;
  }

  &:nth-child(n + 2) {
    position: relative;
    padding-top: 9px;
    padding-bottom: 6px;
    @include mq(pc) {
      padding-bottom: 11px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background: #e3e3e3;
    }
  }
}

.news-link {
  transition: background-color 0.3s;

  &:hover {
    background-color: #fff9e5;
  }
}

.news__list__top {
  display: flex;
  gap: 12px;
  @include mq(pc) {
    width: 247px;
    flex-shrink: 0;
    gap: 14px;
  }
}

.news__list__date {
  color: #333;
  white-space: nowrap;

  @include mq(pc) {
    width: 119px;
  }
}

.news__list__label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  font-size: 11px;
  font-weight: 700;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  border-radius: 2px;
  height: calc(19px + 2px * 2 + 2px * 2);
  height: 100%;
  min-width: 63px;
  padding: 2px 10px;
  text-align: center;
  @include mq(pc) {
    height: 23px;
    margin-top: 4px;
  }
}

.is-news {
  background: #e4780c;
}

.is-colum {
  background: #ecb815;
}

.is-event {
  background: #389b47;
}

.news__list__title {
  width: 100%;
  padding-top: 5px;
  @include mq(pc) {
    padding-top: 1px;
  }
}

.news__more {
  padding-top: 21px;
  padding-bottom: 2px;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  width: fit-content;

  transition: color 0.3s;
  &:hover {
    color: $color-key2;
  }
  @include mq(pc) {
    padding-top: 15px;
  }
  a {
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    text-align: left;
    border-bottom: 2px solid currentColor;
    padding-bottom: calc(10px - 2px);
  }
}

/* ================================
  about アバウト
================================ */
.about {
  padding-bottom: 60px;
  overflow: hidden;

  @include mq(pc) {
    padding-bottom: 100px;
  }
}

.about__inner {
  margin-top: 58px;
  padding: 0 3px;
  text-align: center;

  @include mq(pc) {
    margin-top: 49px;
  }
}

.about__title {
  img {
    width: 180px;

    @include mq(pc) {
      width: 230px;
    }
  }
}

.about__content {
  margin-top: 150px;
  padding-top: 288px;
  padding-bottom: 105px;
  position: relative;
  text-align: center;

  @include mq(pc) {
    margin-top: 176px;
    margin-bottom: 3px;
    padding-bottom: 100px;
  }

  &::before {
    content: "";
    width: 1100px;
    height: 1100px;
    flex-shrink: 0;
    border-radius: 50%;
    background: $color-gradation;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    @include mq(pc) {
      width: 800px;
      height: 800px;
    }
  }
}

.about__image {
  position: absolute;
  text-align: center;
  top: -110px;
  left: 0;
  width: 100%;

  @include mq(pc) {
    top: -125px;
  }

  img {
    width: 320px;

    @include mq(pc) {
      width: 330px;
    }
  }
}

.about__text {
  font-weight: 700;
  line-height: 2.3; /* 36.8px */
  @include mq(pc) {
    margin-top: -3px;
  }
}

.about__pop {
  font-weight: 700;
  line-height: 1; /* 16px */
  letter-spacing: 1.28px;
  padding-top: 44px;

  @include mq(pc) {
    padding-top: 44px;
  }
}

.about__button {
  margin-top: 12px;
}

/* ================================
  movie ムービー
================================ */
.movie {
  background: url(../img/section-bg.jpg) repeat top left / 529px;
  text-align: center;
}

.movie__inner {
}

.movie__iframe {
  margin-top: 32px;

  @include mq(pc) {
    margin-top: 56px;
  }

  iframe {
    width: 345px;
    max-width: 100%;
    height: auto;
    aspect-ratio: 345 / 194;
    vertical-align: top;

    @include mq(pc) {
      width: 640px;
      aspect-ratio: 640 / 360;
    }
  }
}

/* ================================
  how to use
================================ */
.how-to-use {
}

.how-to-use__inner {
  text-align: center;
}

.how-to-use__title {
}

.how-to-use__boxes {
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  gap: 112px;

  @include mq(pc) {
    margin-top: 89px;
    gap: 75px;
  }
}

.how-to-use__box {
  border-radius: 30px;
  background: #fffbf0;
  padding: 54px 40px 48px;

  @include mq(pc) {
    border-radius: 40px;
    padding: 44px 10px 56px;
  }
}

.how-to-use__box-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  position: relative;

  @include mq(pc) {
    font-size: 22px;
    letter-spacing: 2.2px;
    padding-right: 95px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  img {
    width: 85px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: calc(100% + 16px);

    @include mq(pc) {
      right: 0;
      transform: none;
      bottom: 0;
    }
  }

  .is-type2 & {
    @include mq(pc) {
      padding-right: 0;
      padding-left: 95px;

      img {
        left: 0;
      }
    }
  }
}

.how-to-use__steps {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mq(pc) {
    max-width: 948px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    gap: 24px;
    margin-top: 39px;
  }
}

.how-to-use__step {
  @include mq(pc) {
    flex: 1;
  }
}

.step-box {
  padding-top: 45px;
  position: relative;
}

.step-box__head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #111;
  background: $color-key1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  .is-type2 & {
    background: $color-key2;
  }
}

.step-box__head-text {
  color: #111;
  font-size: 13px;
  letter-spacing: 1.3px;
  line-height: 100%;
  font-family: $font-family-en;
  font-weight: 700;
}

.step-box__head-number {
  color: $color-white;
  font-size: 34px;
  letter-spacing: 3.4px;
  line-height: 100%;
  margin-top: 3px;
  font-family: $font-family-en;
  font-weight: 700;
}

.step-box__body {
  border-radius: 30px;
  border: 3px solid #111;
  background: $color-white;
  overflow: hidden;
  padding: calc(50px - 3px) 10px calc(26px - 3px);
}

.step-box__image {
  img {
    width: 160px;

    @include mq(pc) {
      width: 200px;
    }
  }
}

.step-box__text {
  font-weight: 700;
  letter-spacing: 0.48px;
  padding-top: 10px;
}

/* ================================
  merit メリット
================================ */

.merit {
  background: #fafafa;
}

.merit__inner {
}

.merit__title {
}

.merit__boxes {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 29px;

  @include mq(pc) {
    gap: 40px;
    margin-top: 60px;
  }
}

.merit__box {
  padding: 10px 20px 24px;
  border-radius: 20px;
  background: $color-white;

  @include mq(pc) {
    max-width: calc(1140px + 18px * 2);
    padding: 20px 18px;
    flex-direction: row;
  }
}

.merit-box {
  @include mq(pc) {
    height: 350px;
  }
}

.merit-box__content {
  position: relative;
  @include mq(pc) {
    max-width: 920px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    .is-reverse & {
      flex-direction: row;
    }
  }
}

.merit-box__image {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 200px;

  @include mq(pc) {
    width: calc(350 / 920 * 100%);
    img {
      width: 100%;
    }
  }
}

.merit-box__body {
  @include mq(pc) {
    // height: 390px;
    width: calc(520 / 920 * 100%);
    padding-top: 34px;
  }
}

.merit-box__head {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  padding-bottom: 12px;
  align-items: center;
  gap: 14px;

  @include mq(pc) {
    gap: 28px;
    .is-reverse & {
      padding-top: 4px;
    }
  }
}

.merit-box__number {
  color: $color-key2;
  font-family: $font-family-en;
  font-size: 70px;
  font-weight: 600;
  line-height: 100%; /* 70px */

  @include mq(sp) {
    padding-top: 1px;
  }

  @include mq(pc) {
    font-size: 110px;
  }
}

.merit-box__title {
  font-weight: 700;
  letter-spacing: 1.6px;

  @include mq(pc) {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.merit-box__text {
  font-size: 14px;
  line-height: 200%; /* 28px */

  @include mq(pc) {
    font-size: 15px;
    padding-top: 6px;
  }
}

/* ================================
  cta 
================================ */
.cta {
  background: $color-gradation;
  text-align: center;
  padding-top: 49px;
  padding-bottom: 50px;
  @include mq(pc) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.cta__inner {
}

.cta__text {
  font-weight: 700;
  line-height: 200%; /* 32px */
  letter-spacing: 0.48px;

  @include mq(pc) {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}

.cta__button {
  margin-top: 16px;
  .button {
    padding-right: 28px;
    padding-left: 28px;
  }
}

/* ================================
  compare 他社サービスとの違い
================================ */
.compare {
  background: $color-white;
  padding-bottom: 62px;

  @include mq(pc) {
    padding-bottom: 70px;
  }
}

.compare__inner {
}

.compare__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%; /* 20px */
  text-align: center;

  @include mq(pc) {
    font-size: 24px;
  }
}

.compare__content {
  margin-top: 40px;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;

  @include mq(pc) {
    margin-top: 60px;
  }

  /* ネイティブバーを隠す（スクロール自体は可） */
  @supports (scrollbar-color: auto) {
    scrollbar-width: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.compare__table {
  width: 620px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;

  @include mq(pc) {
    width: 1000px;
  }

  th,
  td {
    text-align: center;
    font-weight: 700;
    vertical-align: middle;

    @include mq(pc) {
      height: 100px;
    }

    &:nth-child(1) {
      width: 130px;
      @include mq(pc) {
        width: 250px;
      }
    }
    &:nth-child(2) {
      width: 90px;
      background: #fff9e5;
      font-size: 16px;
      letter-spacing: 0.48px;
      @include mq(pc) {
        width: 250px;
        font-size: 25px;
        letter-spacing: 0.75px;
      }
      img {
        width: 70px;
        height: 18px;

        @include mq(pc) {
          width: 123px;
          height: 32px;
        }
      }
    }
  }

  th {
    letter-spacing: 0.48px;

    @include mq(pc) {
      font-size: 20px;
      letter-spacing: 0.6px;
    }
  }

  td {
    font-size: 14px;
    letter-spacing: 0.42px;

    @include mq(pc) {
      font-size: 16px;
      letter-spacing: 0.48px;
    }
  }

  thead {
    height: 63px;
    th {
      letter-spacing: 1.6px;

      @include mq(pc) {
        letter-spacing: 2px;
      }
    }
  }

  tbody {
    tr {
      border-top: 1.5px solid #000;
      height: calc(60px - 1.5px);

      @include mq(pc) {
        border-top: 3px solid #000;
      }
    }
  }
}

.compare__attention {
  margin-top: 11px;
  color: #686868;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}

.compare__bar {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  pointer-events: none;
  margin-top: 8px;
  border-radius: 7px;
  background: #d9d9d9;
}

.compare__thumb {
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  width: 112px;
  background: $color-key2;
  border-radius: 20px;
  transform: translateX(0);
  pointer-events: none;
}

/* PCサイズのときの挙動 */
@include mq(pc) {
  /* デフォルトはカスタムバー非表示、ネイティブ表示 */
  .compare__bar {
    display: none;
  }
  .compare__content {
    scrollbar-width: auto;
    -ms-overflow-style: auto;
  }

  /* ★横にオーバーしているときだけカスタムバーを使う */
  .compare__content.is-overflow {
    /* ネイティブは消す */
    scrollbar-width: none;
    -ms-overflow-style: none;

    /* カスタムバーを表示 */
    .compare__bar {
      display: block;
    }
  }
}
/* まずは常に非表示にしておく */
.compare__bar {
  display: none;
}

/* オーバーしているときだけ表示（SP/PC共通） */
.compare__content.is-overflow .compare__bar {
  display: block;
}

/* デフォルトは非表示（SPでもPCでも） */
.compare__attention {
  display: none;
}

/* .compare__content がオーバーしているときだけ表示 */
.compare__content.is-overflow + .compare__attention {
  display: block;
}

/* 既に hidden-pc を付けているならPCでは出ません（現状のままでOK） */

/* PCのときの既定（ネイティブ表示でOKなら） */
@include mq(pc) {
  /* 通常はネイティブ表示 */
  .compare__content {
    scrollbar-width: auto;
    -ms-overflow-style: auto;
  }

  /* オーバー時はネイティブを隠してカスタムを出す */
  .compare__content.is-overflow {
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* バー表示は 1) で指定済み */
  }
}
/* ================================
  qa　Q&A
================================ */
.qa {
  background: #fafafa;
}

.qa__inner {
  @include mq(pc) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc(800px + 30px * 2);
  }
}

.qa__boxes {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 42px;

  @include mq(pc) {
    margin-top: 74px;
  }
}

.qa__box {
  border-radius: 10px;
  border: 3px solid #111;
  background: #fff;

  &.is-open {
    .qa-box__head {
      &::after {
        transform: rotate(0deg);
      }
    }
  }
}

.qa-box {
}

.qa-box__head {
  padding: 29px 40px 16px 11px;
  position: relative;
  text-align: left;
  display: block;
  width: 100%;
  line-height: 1.55;

  @include mq(pc) {
    padding: 28px 80px 18px 20px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 9.26px;
    height: 6.834px;
    background: url(../img/qa-arrow.png) no-repeat center center / contain;
    transform: rotate(180deg);

    @include mq(pc) {
      right: 17px;
    }
  }
}

.qa-box__head-icon {
  position: absolute;
  top: -23px;
  left: 12px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%; /* 22px */
  display: grid;
  place-items: center;

  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 22px;
  border: 3px solid currentColor;
  background: $color-key1;

  @include mq(pc) {
    left: 20px;
  }
}

.qa-box__head-text {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;

  @include mq(pc) {
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 1.28px;
  }
}

.qa-box__body {
  padding: 6px 17px 14px 12px;
  display: none;

  @include mq(pc) {
    padding: 0 36px 20px 20px;
  }
}

.qa-box__a {
  display: flex;
  gap: 8px;
  margin-top: 10px;

  @include mq(pc) {
    gap: 10px;
    margin-top: 0;
  }
}

.qa-box__a-icon {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%; /* 22px */
  display: grid;
  place-items: center;

  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 22px;
  border: 3px solid currentColor;
  background: $color-key2;

  margin-top: -2px;
}

.qa-box__a-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  padding-top: 8px;

  @include mq(pc) {
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}

/* ================================
  gallery ギャラリー
================================ */
.gallery {
}

.gallery__inner {
  @include mq(pc) {
    padding-right: 30px;
    padding-left: 30px;
    max-width: calc(800px + 30px * 2);
  }
}

.gallery__slider {
  margin-top: 27px;

  @include mq(pc) {
    margin-top: 60px;
    max-width: 100%;
  }
}

.gallery__swiper {
  padding-bottom: 26px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: -5px;
  margin-left: -5px;

  @include mq(pc) {
    padding-right: calc(80 / 800 * 100%);
    padding-left: calc(80 / 800 * 100%);
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
  }

  @include mq(tb) {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
  }
}

.gallery__wrapper {
}

.gallery__slide {
}

.gallery__prev,
.gallery__next {
  width: 40px;
  height: 40px;
  margin-top: -38px !important;

  @include mq(pc) {
    width: 50px;
    height: 50px;
    margin-top: -60px !important;
  }
  .swiper-navigation-icon {
    display: none;
  }
}

.gallery__prev {
  left: 0 !important;
  background: url(../img/prev-icon.png) no-repeat center center / contain;

  @include mq(pc) {
    left: calc(50% - 320px - 3px - 68px) !important;
  }

  @include mq(tb) {
    left: 20px !important;
  }
}

.gallery__next {
  right: 0 !important;
  background: url(../img/next-icon.png) no-repeat center center / contain;

  @include mq(pc) {
    right: calc(50% - 320px - 3px - 68px) !important;
  }

  @include mq(tb) {
    right: 20px !important;
  }
}

.gallery-card {
  border-radius: 20px;
  border: 3px solid #111;
  background: #fff;
  box-shadow: 0 9px 30px 0 #f4f4f4;
  padding: calc(15px - 3px) calc(15px - 3px) calc(12px - 3px) calc(15px - 3px);

  @include mq(pc) {
    border-radius: 30px;
    padding: calc(20px - 3px) calc(20px - 3px) calc(18px - 3px) calc(20px - 3px);
    width: calc(600px + 20px * 2);
    height: calc(444px + 18px + 20px);
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  @include mq(tb) {
    max-width: 90vw;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.gallery-card__image {
  text-align: center;

  img {
    border-radius: 10px;

    @include mq(pc) {
      border-radius: 20px;
    }
  }
}

.gallery-card__text {
  margin-top: 11px;
  text-align: center;
  font-size: 14px;

  @include mq(pc) {
    margin-top: 18px;
    font-size: 16px;
  }
}

.gallery__pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  bottom: 0 !important;
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    background: #bcbcbc;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background: $color-key2;
    }
  }
}

/* ================================
  contact お問い合わせ
================================ */
.contact {
  background: url(../img/section-bg.jpg) repeat top left / 529px;
}

.contact__inner {
}

.contact__box {
  border-radius: 30px;
  background: $color-white;
  padding: 60px 20px;

  @include mq(pc) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.contact__title {
}

.contact__form {
  margin-top: 30px;
  @include mq(pc) {
    max-width: 612px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact__fields {
}

.contact__field {
  @include mq(pc) {
    display: flex;
    gap: 32px;
  }
}

.form-field__head {
  display: flex;
  align-items: center;
  gap: 10px;

  @include mq(pc) {
    width: calc(212px - 32px);
    flex-shrink: 0;
    justify-content: flex-end;
  }
}

.form-field__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px; // calc(23 / 16)
}

.form-field__tag {
  display: inline-block;
  border-radius: 2px;
  background: #ee8013;
  padding: 6px 8px 5px 9px;
  color: $color-white;
  font-size: 11px;
  font-weight: 700;
  line-height: 100%; /* 11px */
  letter-spacing: 1.98px;
  &.is-option {
    background: #43b549;
  }
  @include mq(pc) {
    padding: 6px 8px 5px 8px;
  }
}

.form-field__item {
  margin-top: 14px;
  flex-grow: 1;
  @include mq(pc) {
    margin-top: 0;
  }
}

.form-text {
  width: 100%;
  border-radius: 5px;
  border: 3px solid #111;
  background: $color-white;
  padding: calc(15px - 3px) calc(16px - 3px) calc(14px - 3px);

  transition: border-color 0.3s;
  &:hover,
  &:focus {
    border-color: $color-key2;
    outline: none;
  }
}

.form-radio {
  line-height: 23px;
  &:hover,
  &:focus {
    .form-radio__text {
      &::before {
        border-color: $color-key2;
        outline: none;
      }
    }
  }
}
.form-radio__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked {
    + .form-radio__text {
      &::after {
        opacity: 1;
      }
    }
  }

  &:focus {
    + .form-radio__text {
      &::before {
        border-color: $color-key2;
      }
    }
  }
}

.form-field__radios {
  display: flex;
  flex-direction: column;
  gap: 18px;
  @include mq(pc) {
    flex-direction: row;
    gap: 30px;
  }
}

.form-field__radio {
  input:focus + &-text {
    outline: 2px solid $color-key2;
    outline-offset: 2px;
    border-radius: 4px;
  }
}

.form-radio__text {
  font-weight: 700;
  position: relative;
  padding-left: 28px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  &::before {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 3px solid #111;
    left: 0;

    transition: border-color 0.3s;
  }

  &::after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: $color-key1;
    left: 7px;
    opacity: 0;
  }
}

.form-select {
  appearance: none;
  width: 100%;
  border-radius: 5px;
  border: 3px solid #111;
  background: $color-white;
  font-size: 16px;
  font-weight: 700;
  padding: calc(15px - 3px) calc(46px - 3px) calc(14px - 3px) calc(16px - 3px);
  background: url(../img/select-arrow.png) no-repeat center right 15px / 9.451px 6.969px;
  transition: border-color 0.3s;
  &:hover,
  &:focus {
    border-color: $color-key2;
    outline: none;
  }
}

.form-textarea {
  border-radius: 5px;
  border: 3px solid #111;
  background: $color-white;
  width: 100%;
  height: 180px;
  padding: calc(16px - 3px);
  transition: border-color 0.3s;
  &:hover,
  &:focus {
    border-color: $color-key2;
    outline: none;
  }
}

.contact__fields {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact__field {
}

.contact__privacy {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.contact__button {
  text-align: center;
  .button {
    border: 3px solid #818181;
    background: #ededed;
    cursor: not-allowed;
    color: #858585;

    &.is-active {
      border: 3px solid currentColor;
      background: $color-white;
      color: $color-base;
      cursor: pointer;

      &:hover {
        background: $color-key2;
      }
    }
  }

  @include mq(pc) {
    margin-top: 5px;
  }
}

.form-checkbox {
  box-sizing: border-box;
}

.form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.form-checkbox__input:checked + .form-checkbox__text::after {
  opacity: 1;
}

.form-checkbox__text {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 23.8px;

  &:hover,
  &:focus {
    &::before {
      border-color: $color-key2;
      outline: none;
    }
    a {
      color: $color-key1;
    }
  }

  a {
    text-decoration-line: underline;
    font-weight: inherit;
    transition: color 0.3s;
  }
}

.form-checkbox__text::before,
.form-checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.form-checkbox__text::before {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  border: 1px solid #111;
  transition: border-color 0.3s;
}

.form-checkbox__text::after {
  width: 23px;
  height: 17.53px;
  left: -1px;
  margin-top: -1.2px;
  background: url(../img/check-icon.png) no-repeat center center/contain;
  opacity: 0;
}

/* ================================
  footer
================================ */
.footer {
  width: 100%;
  height: 48px;
  display: inline-flex;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: $color-base;
}

.footer__inner {
}

.footer__copyright {
  color: #f5f5f5;
  font-size: 12px;
  line-height: 100%; /* 12px */
  letter-spacing: 0.96px;
}

/* ================================
  pagetop　トップに戻る
================================ */
.pagetop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: min((50 / 375 * 100%), 50px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  @include mq(pc) {
    width: 76px;
    height: 93px;
  }

  @include mq(pc) {
    right: 16px;
    bottom: 30px;
  }
  img {
    flex-shrink: 0;
  }
}

/* ================================
  abaut-modal モーダル
================================ */
.about-modal {
  position: fixed;
  inset: 0;
  margin: auto;
  max-width: calc(100% - 15px * 2);
  max-height: calc(100% - 20px * 2);
  overflow: auto;
  padding: 16px 15px 64px;
  border-radius: 20px;
  background: #fff;
  border: none;
  z-index: 60;
  overscroll-behavior-y: none;

  @include mq(pc) {
    width: 1140px;
    padding: 49px 70px 75px;
  }

  &::backdrop {
    opacity: 0.2;
    background: #000;
  }
}

.about-modal__head {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 16px;
  right: 16px;
}

.about-modal_close-icon {
  img {
    width: 37px;
  }
}

.about-modal__body {
  margin-top: calc(37px + 12px);

  @include mq(pc) {
    margin-top: 43px;
  }

  p {
    font-size: 14px;
    &:nth-child(n + 2) {
      margin-top: 20px;
    }
  }
}

.about-modal__close-button {
  margin-top: 30px;
  text-align: center;
}

// ふわっと表示させる
.fade-in-up {
  opacity: 0;
  transition: opacity 1s, transform 1s;
  transform: translateY(24px);

  &.is-in-view {
    opacity: 1;
    transform: translateY(0);
  }
}
