@use "../../../scss/functions/variables" as *;
@use "../../../scss/functions/mixin" as *;
@use "../../../scss/functions/reset" as *;
@use "../../../scss/functions/base" as *;

.flow-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 0 0 12px;
  width: 276px;
  border-bottom: 2px dashed $color-gray;
}

.flow-item__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  gap: 8px;
}

.flow-item__step-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 220px;
}

.flow-item__step-badge-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 276px;
}

.flow-item__step-badge {
  width: auto;
  height: 18px;
  object-fit: contain;
  display: block;
}

.flow-item__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4em;
  text-align: left;
  color: $color-gray;
  margin: 0;
}

.flow-item__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  text-align: left;
  color: $color-gray;
  margin: 0;
  width: 100%;
}
