@use "../../../scss/functions/variables" as *;
@use "../../../scss/functions/mixin" as *;
@use "../../../scss/functions/reset" as *;
@use "../../../scss/functions/base" as *;

.flow-section {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 48px;
  padding: 48px 0 64px;
  background-color: $color-bg-main;
}

.flow-section__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 24px;
}

