@use "../functions/variables" as *;
@use "../functions/mixin" as *;
@use "../functions/reset" as *;
@use "../functions/base" as *;

// phone-contact、email-contact、payment-methodは_base.scssに移動

// cta-section styles
.cta-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 8px;
  padding-top: 64px;
  background-color: $color-bg-green;
  position: relative;
}

.cta-section__inner {
  padding: 0 18px;
}

.cta-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 4px;
  width: 100%;
  background-color: $color-bg-main;
  border-radius: 8px;
}

.cta-section__features {
  display: flex;
  flex-direction: column;
  padding: 0 16px 0 0;
  gap: 0;
}

.cta-section__feature-lists {
  display: flex;
  flex-direction: column;
  gap: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cta-section__feature-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.cta-section__feature-icon {
  $cta-section__feature-icon-size: 51px;
  width: $cta-section__feature-icon-size;
  height: $cta-section__feature-icon-size;
  text-align: right;
  padding-top: 6px;
  flex-shrink: 0;
}

.cta-section__feature-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cta-section__feature-texts {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
  width: 100%;
}

.cta-section__feature-texts:after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: -10px;
  width: 105%;
  height: 80%;
  background: url(../img/cta__label-list-under-line.svg) no-repeat right center / auto;
  z-index: 0;
}

.cta-section__feature-text {
  color: $color-text-green;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.4;
  white-space: nowrap;
  z-index: 1;

}

.cta-section__feature-number {
  color: $color-text-green;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.4;
  z-index: 1;
}

.cta-section__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  width: 300px;
  max-width: 100%;
  .email-contact{
    margin-top: 0;
  }
}

.cta-section__urgent-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1em;
  text-align: left;
  color: $color-bg-green;
  margin: 0;
}

.cta-section__contact-buttons {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 16px;
}

.cta-section__payment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  width: 100%;
}

.cta-section__payment-image {
  width: 96px;
  height: 119px;
  object-fit: contain;
  flex-shrink: 0;
}

.cta-section__payment-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.cta-section__payment-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 4px;
  padding: 0 24px 2px;
  border-bottom: 2px dashed $color-bg-green;
}

.cta-section__payment-title-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
  color: $color-bg-green;
  margin: 0;
}

.cta-section__credit-card-icon {
  position: absolute;
  left: 199.5px;
  top: 292px;
  width: 18px;
  height: 18px;
  z-index: 1;
}

.cta-section__discount-image {
  padding-top: 60px;
  width: 100%;
  height: auto;
  display: block;
}
