@use "../functions/variables" as *;
@use "../functions/mixin" as *;
@use "../functions/reset" as *;
@use "../functions/base" as *;

// フローセクション全体
.flow-section {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 48px;
  padding: 48px 0 64px;
  background-color: $color-bg-main;
}

.flow-section__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 19px;
}

// フロータイトル
.flow-title {
  margin-bottom: 41px;
  background: $color-gray;
  &::before {
    width: 20px;
    background: url(../img/flow-title-icon.svg) no-repeat center center / 100% 100%;
  }
}

// フローアイテム
.flow-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 0 0 9px;
  width: 276px;
  border-bottom: 2px dashed $color-gray;
}

.flow-item__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  gap: 8px;
}

.flow-item__step-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  width: 220px;
}

.flow-item__step-badge-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 276px;
}

.flow-item__step-badge {
  width: 69px;
  object-fit: contain;
  display: block;
  img{
    width: 100%;
  }
}

.flow-item__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4em;
  text-align: left;
  color: $color-gray;
  margin: -5px 0 0 0;
  padding-bottom: 1px;
}

.flow-item__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  text-align: left;
  color: $color-gray;
  margin: 0;
  width: 100%;
}
